@model IPBLL.UpdateEventRequest

@{
    ViewData["Title"] = "EditEventView";
}

<h1>Update Event</h1>

<p>
    Here you can update the event details.
</p>

<h4>Event Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEvent" method="post" asp-route-editId="@Model.EventId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EventId" class="form-control" />
            <div class="form-group">
                <label asp-for="EventName" class="control-label">Event Name</label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDescription" class="control-label">Event Description</label>
                <input asp-for="EventDescription" class="form-control" />
                <span asp-validation-for="EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label">Event Date</label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventLocation" class="control-label">Event Lacation</label>
                <input asp-for="EventLocation" class="form-control" />
                <span asp-validation-for="EventLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAttendees" class="control-label">Max Attendees</label>
                <input asp-for="MaxAttendees" class="form-control" type="number"/>
                <span asp-validation-for="MaxAttendees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizerName" class="control-label">Organizer Name</label>
                <input asp-for="OrganizerName" class="form-control" />
                <span asp-validation-for="OrganizerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizerContact" class="control-label">Organizer Email</label>
                <input asp-for="OrganizerContact" class="form-control" type="email" />
                <span asp-validation-for="OrganizerContact" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <div class="d-flex justify-content-between">
                <input type="submit" value="Update" class="btn btn-primary m-2" />
                <a asp-action="Index" class="btn btn-secondary m-2">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
